{{include "top.html"}}
	<h2>
		{{
			if equals get "username" variables null
				print translate "hello"
				print ", "
				print translate "world"
				print "!"
			end
			if not equals get "username" variables null
				print translate "hello"
				print ", "
				print get "username" variables
				print "!"
			end
		}}
	</h2>
	<p>{{print translate "introduction"}}</p>
	{{
		if equals get "username" variables null
			print "<a class=\"button\" href=\"/signup\">"
			print translate "signup"
			print "</a>"
		end
	}}
{{include "bottom.html"}}
