{{include "top.html"}}
	{{include "password-checker.html"}}
	<form action="/signup" method="POST">
		<h2>{{print translate "change-password"}}</h2>
		<div>
			<label for="password">{{print translate "password"}}</label>
			<input type="password" name="password" id="password"  minlength="4" maxlength="32"/>
		</div>
		<div>
			<label for="repeat-password">{{print translate "repeat-password"}}</label>
			<input type="password" name="repeat-password" id="repeat-password"  minlength="4" maxlength="32"/>
		</div>
		<input type="submit" value="{{print translate "submit"}}" id="submit-signup"/>
		{{include "messages.html"}}
        <a class="button" href="/profile">{{print translate "back"}}</a>
	</form>
{{include "bottom.html"}}
