{{include "top.html"}}
	<script>
		window.addEventListener("load", function() {
			let password = document.getElementById("password");
			let repeatPassword = document.getElementById("repeat-password");
			
			password.addEventListener("keyup", check);
			repeatPassword.addEventListener("keyup", check);

			function check() {
				let errors = document.getElementsByClassName("errors")[0];
				let correct = (password.value === repeatPassword.value);

				if(errors === undefined) {
					if(!correct) {
						errors = document.createElement("ul");
						errors.classList.add("errors");
						let error = document.createElement("li");
						errors.appendChild(error);
						error.classList.add("passwords-do-not-match");
						error.innerHTML = "{{print translate "passwords-do-not-match"}}";
						document.getElementsByTagName("form")[0].appendChild(errors);
					}
				} else {
					let error = document.getElementsByClassName("passwords-do-not-match")[0];
					if(!correct) {
						if(error === undefined) {
							error = document.createElement("li");
							error.classList.add("passwords-do-not-match");
							error.innerHTML = "{{print translate "passwords-do-not-match"}}";
							errors.appendChild(error);
						}
					} else {
						if(error !== undefined) {
							error.parentElement.removeChild(error);
						}
						if(errors.children.length === 0) {
							errors.parentElement.removeChild(errors);
						}
					}
				}
			}
		});
	</script>
	<form action="/signup" method="POST">
		<h2>{{print translate "signup"}}</h2>
		<em>{{print translate "signin-here"}}</em>
		<div class="block">
			<label for="username">{{print translate "username"}}</label>
			<input type="text" name="username" id="username" minlength="2" maxlength="16"/>
		</div>
		<div class="block">
			<label for="email">{{print translate "email"}}</label>
			<input type="email" name="email" id="email" maxlength="64"/>
		</div>
		<div class="block">
			<label for="password">{{print translate "password"}}</label>
			<input type="password" name="password" id="password"  minlength="4" maxlength="32"/>
		</div>
		<div class="block">
			<label for="repeat-password">{{print translate "repeat-password"}}</label>
			<input type="password" name="repeat-password" id="repeat-password"  minlength="4" maxlength="32"/>
		</div>
		<input type="submit" value="{{print translate "submit"}}"/>
		{{include "messages.html"}}
	</form>
{{include "bottom.html"}}
